.container div{

    border: 1px solid;
    height: 100px;
}

.container{
    display: flex;
    border: 1px solid black;
    /* flex-wrap: wrap; */
    /* width: 800px; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: baseline; */
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: flex-end;  */
    /* align-content: center; */
    height: 400px;
    /* width: 1000px; */
    
}



 .one{
 /* flex: 1; */
 flex-shrink: 1;
}
.two{
    /* align-self: center; */
    flex-shrink: 1;
}


.three{
    /* flex-grow: 1; */
    
    /* flex-basis: 200px; */
    /* flex:2; */
    flex-shrink: 3;
}

.four{

    /* flex-grow: 2; */
    /* flex-basis: 200px; */
   /* align-self: flex-end; */
    /* flex: 1; */
    /* flex-shrink: 2; */
    /* flex: 3; */
    flex-shrink: 1;

}

.five{
    /* flex: 1; */
    flex-shrink: 1;
}
.six{
    /* flex: 1; */
    flex-shrink: 1;
}

.text{
    margin: auto;
}

.center{
    width: 200px;
    height: 200px;
    background: black;
    color: white;
    display: flex;
}
